body {
    margin: 0;
    overflow: hidden;
    font-family: Arial;
    background: black;
    color: white;
}

/* Start Screen */
#startScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, darkblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    background: orange;
    border: none;
    border-radius: 10px;
}

/* FULL SCREEN CANVAS */
canvas {
    position: fixed;
    top: 0;
    left: 0;
}
